<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>mvp page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>


    <link rel='stylesheet' type='text/css' href='public/postlog.css'>
    <script src="public/leaderboard.js" defer></script>
  </head>
  <body>

    <div class="topnav">
  
      <a href="/comment">comment</a>
      <a href="/leaderboard">leaderboard</a>
      <a href="/home">Setting</a>
      <a href="/mvp">MVP</a>
      <a class='logout_button' href="/"> Logout </a>
    
    </div>


   <h1>Leaderboard</h1>

   <table>
    <tr>
      <th>Project idea and description </th>
      <th>Team members</th>
      <th>rankings</th>
    </tr>
    <div id = "parent"></div>

    
    
  
  </table>

  <tr id = "template">
    <td id = "description"></td>
    <td id="members"></td>
    <td id = "rank"></td>

  </tr>




  </body>
</html>