<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>mvp page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>


    <link rel='stylesheet' type='text/css' href='public/postlog.css'>
    <script src="public/loggedin.js" defer></script>
  </head>
  <body>

    <div class="topnav">
  
      <a href="">slidespace</a>
      <a href="/leaderboard">leaderboard</a>
      <a href="/home">Setting</a>
      <a href="/mvp">MVP</a>
      <a class='logout_button' href="/"> Logout </a>
    </div>


   <h1>MVP update</h1>

   <h2>week 7</h2>
   <P>This week, we were braistorming ideas. there were a lot ideas that came up, such as a therometer in truck that deliver meat, a map social application, etc..</P>
   <P> we tried to came up with an idea that will get arrpoved. It was hard to figure out. We will address it by doing more in depth market analysis </P>
   <P>However, we had formed a group. We also performed RAT, riBSs, simple, tart market and job to be done for the therometer product idea. Meanwhile, we were thinking about product vision</P>
    <p>everyone is responsible for coming up with ideas and critque each others ideas until we came up with one</p>
   <h2>Week 8</h2>
   <p>This week, discuss in sessions and talked to Nich about our ideas. We came up with the idea of developing a wisband that would tell people to come back for their query </p>
   <p>we still have problem with the ideas sicne the TA pose some potential issues of why our products would fail. We will overcame it by talking to professor </p>
   <p>We assigned tasks for each group memeber to talk to the amusement park about the querying system.</p>
   <p>everyone is responsible for coming up with ideas and critque each others ideas until we came up with one</p>
   <h2>Week 9</h2>
   <p>This week, we finalized the product ideas for our mvp report. We talked to professor, who help us polished our originally idea that didn't get approve. We also start wrting our project proposal.   We also start wrting our project proposal</p>
   <p>Since our project ideas changed, I talked to different persona - parents- to conduct interview</p>
   <h3>tasks assigned</h3>
   <ul>
    <li>Jason was responsible for product vision,  market size, and swot test for competitor</li>
    <li>William is responsible for economic model </li>
    <li>Joshua responsible for job to be done, RIBS test for our ideas, slides, and interviewed with persona</li>
    <li>Kim was responsible for problem statement, solution overview, and business plan</li>
    
   </ul>
   
   <p></p>

   <h2>week 10</h2>
   <P>This week we are able to finalized the proportial and made a video for the mvp presentation. We submitted the proposal and slide and subit them to canvas</P>
   <p>One challenge we encourter was conflicting and busy schedule and it was hard to came up with a time to meet</p>
  

  </body>
</html>